// Extra small devices (tablets, 420px and down)
@media (max-width: 420px){
.navbar .dropdown{
  font-size: 6vw;
}
.navbar .fa-wolf-pack-battalion {
  margin-top: -6.5vw!important;
  position: absolute;
  font-size: 13vw!important;
}
  .back-to-top i{
  font-size: 13vw!important;
}
.dropdown-menu {
  text-align: center!important;
  min-width: 100%!important;
}
.row{
  margin-right: 0px!important;
}
.box-one button{
  padding: 13% 10% 0 10%!important;
}
.box-one .btn-left button{
  margin: 0 0 0 -5%!important;
}
.box-one .btn-right button{
  margin: 0 0 0 17%;
}
#navbar-example2 .nav-item{
  display: none;
}
#navbar-example2 .dropdown{
  display: block!important;
  }
.second-tittle{
  padding: 8vw 50% 2vw 40%!important;
  }
.box-one .btn-right{
  margin-left: 57vw!important;
  }
.box-two .right #size .row .col{
  padding-right: 0;
  }
.box-two .right .bottom p {
  font-size: 2.5vw!important;
  }
  .flipcard .front img{
  height: 5vw;
  }
  .flipcard{
  height: 27vw!important;
  width: 115%!important;
  }
  .flipcard .back .tittle {
  padding-top: 3vw!important;
  }

  #footer .fab {
    font-size: 10vw;
    margin: 0 5vw!important;
}
}

@media (max-width: 576px) {
  .navbar .fa-wolf-pack-battalion {
    margin-top: -5vw;
    position: absolute;
    font-size: 10vw;
}
  .back-to-top i{
  font-size: 11vw;
}
// Medium devices (tablets, 576px and down)
p {
  font-size: 0.9rem;
}
.navbar .nav-item .nav-link {
  padding-right: 3vw!important;
  padding-left: 3vw!important;
}
.box-one h1{
  font-size: 5vw;
 position: absolute;
 margin: 10% 0 0 36%;
}
.box-one .btn-left button{
  padding: 10% 20% 0px 20% !important
}
.box-one .btn-right button{
  padding: 10% 20% 0px 20% !important;
}

.box-one .btn-left{
  margin-left: 8vw!important;
  position: absolute!important;
  margin-top: -25vw!important;
}

.box-one .btn-right{
  position: absolute!important;
  margin-left: 68vw;
  margin-top: -25vw!important;
}

.box-two .right .description p {
  font-size: 0.8rem !important;
}

.box-two .right .top {
  padding-left: 5vw;
  margin-top: 1rem !important;
}

.box-two .right .top .fab {
  padding-right: 2vw;
  font-size: 7vw;
}

.box-two .right .bottom {
  margin-top: 5px;
}

.box-two .right .bottom p {
  font-size: 2.9vw;
}

.box-two .right .bottom .fas {
  font-size: 4vw;
}
.box-two .right .bottom .col{
  border-radius: 15%!important;
  text-align: center!important;
  margin-bottom: -2vw;
}
// Thrid box - Skills
#skill{
  padding-left: 1vw;
}
#skill ul {
  padding-left: 2vw;
}
#skill .xml{
  margin-right: 3vw!important;
}
.flipcard {
  width:110%;
  height: 25vw;
}
.flipcard .front img{
height: 9vw;
}
.flipcard .front .main-tittle h3{
  font-size: 3vw;
}
.flipcard .front .fab{
font-size: 9vw;
}
.flipcard .front ul li{
  font-size: 3vw;
}

.flipcard .back h4{
    font-size: 2vw;
  }
.flipcard .back .container p{
  font-size: 1.8vw
}
.flipcard  .back .value{
  padding-top: .5vw;
  }
.flipcard .back .name{
  padding-left: 5vw;
}
.flipcard .back .value {
  padding-right:0.5vw;
}

.about{
  padding-left: 3vw;
  padding-right: 3vw;
}
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .navbar .fa-wolf-pack-battalion {
    margin-top: -4vw;
    position: absolute!important;
    font-size: 8vw;
}
  #skill{
    padding-left: 1vw;
}
  #skill .xml{
    margin-right: 3vw!important;
}
  .back-to-top i{
  font-size: 8vw;
}
  .navbar .nav-item .nav-link {
    padding-right: 3vw!important;
    padding-left: 3vw!important;
  }
  .box-one h1{
    font-size: 5vw;
   position: absolute;
   margin: 10% 0 0 36%;
  }
  .box-one .btn-left{
    position: absolute;
    margin-left: 2vw;
    margin-top: -25vw;
  }
  .box-one .btn-left button{
    padding: 10% 30% 0px 30% !important
  }
  .box-one .btn-right button{
    padding: 10% 30% 0px 30% !important;
    margin: 0 0 0 -10%;
  }
  .box-one .btn-right{
    position: absolute;
    margin-left: 76vw;
    margin-top: -25vw;
  }


  .box-two .right .description{
    text-align: center;
  }
  .box-two .right .description p{
    font-size: 2.2vw;
  }
  .box-two .right .top{
    margin-left: 4vw;
  }
  .box-two .right .top .fab {
    padding-right: 2vw;
    font-size: 5vw;
  }
  .box-two .right .bottom {
    margin-top: 3vw;
    padding-right: 2vw;
  }

  .box-two .right .bottom .fas {
    font-size: 3vw;
  }
  .box-two .right .bottom .col{
    border-radius: 15%!important;
    text-align: center!important;
    height: 5vw!important;
  }
  .box-two .right .bottom .col:hover {
    padding-top: 3px;
    height: 5.5vw;
  }
  // Thrid box - Skills
  .flipcard{
   width: 100%;
   height: 22vw;
  }

  .flipcard .front .main-tittle h3{
    font-size: 2vw;
  }
  .flipcard .front img{
  height: 5vw;
  }
  .flipcard .front .fab{
  font-size: 5vw;
  }
  .flipcard .front ul li{
    font-size: 2vw;
  }
  .flipcard .back .tittle{
    padding-bottom: .5vw;
  }
  .flipcard .back h4{
    font-size: 2vw;
    }
  .flipcard .back .container p{
    font-size: 1.8vw
  }
  .flipcard  .back .value{
    padding-top: .5vw;
    }
  .flipcard .back .name{
    padding-left: 5vw;
  }
  .flipcard .back .value {
    padding-right: 1.5vw;
}

.about{
  padding-left: 3vw;
  padding-right: 3vw;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar .fa-wolf-pack-battalion {
      margin-top: -3vw;
      position: absolute;
      font-size: 6vw;
  }
  .back-to-top i{
  font-size: 6vw;
}
  .box-one h1{
    position: absolute;
  margin: 10% 0 0 38%;
  }
  .box-one .btn-left button{
    padding: 10% 30% 0px 30% !important
  }
  .box-one .btn-right button{
    padding: 10% 30% 0px 30% !important;
    margin: 0 0 0 15%;
  }
  .box-one .btn-left{
    margin-left: 2vw;
  }
  .box-one .btn-right{
    margin-left: 78vw;
  }

  .box-two .right .description p{
    font-size: 2vw;
  }
  .box-two .right .top {
    margin-top: 5vw;
  }
  .box-two .right .top .fab {
    padding-right: 2vw;
    font-size: 6vw;
  }
  .box-two .right .bottom {
    margin-top: 4vw;
    padding-right: 6vw;
  }
  .box-two .right .bottom .fas {
    font-size: 3vw;
  }
  .flickity-viewport{
    height:31vw!important;
  }
  .carousel-cell img{
    height:31vw!important;
  }
// Thrid box - Skills

.flipcard .back .tittle{
  padding-bottom: 1vw;
}

.flipcard .back h4{
  font-size: 2vw;

}


}

// Large devices (desktops, 900px and up)
@media (min-width: 900px) {
  .navbar .fa-wolf-pack-battalion {
      margin-top: -2.5vw;
      position: absolute;
      font-size: 5vw;
  }
  .box-one h1{
    position: absolute;
  margin: 10% 0 0 40%;
  }

  .box-one .btn-left{
    margin-left: 3vw;
  }

  .box-one .btn-right{
    margin-left: 80vw;
  }


  .box-two .right .description p{
    font-size: 2vw;
  }
  .box-two .right .top {
    padding-left: 0;
    margin-top: 2vw;
  }
  .box-two .right .top .fab {
    font-size: 6vw;
  }
  .box-two .right .bottom {
    margin-top: 3vw;
    padding-right: 0 ;
  }
  .box-two .right .bottom .fas {
    font-size: 2vw;
  }
  .flickity-viewport{
    height:27vw!important;
  }
  .carousel-cell img{
    height:27vw!important;
  }
// Thrid box - Skills
  .flipcard  .back .value{
  margin-right: 0vw;
  padding-top: .5vw;
  }
  .flipcard  .back .container p{
    font-size: 1.5vw;
  }
  .flipcard .back .name {
    padding-left: 0;
  }
  }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar .fa-wolf-pack-battalion{
    margin-top: -2.3vw;
    position: absolute;
    font-size: 4.5vw;
  }
  .box-one h1{
  margin: 10% 0 0 36%;
  }
  .back-to-top i{
  font-size: 5vw;
}
  .box-one .btn-left button{
    margin: 0 0 0 -15% !important;
  }
  .box-one .btn-left{
    margin-left: 5vw;
    position: absolute;
    margin-top: -25vw;
  }
  .box-one .btn-right{
    position: absolute;
    margin-left: 85vw;
    margin-top: -25vw;
  }


  .box-two .right .top{
    text-align: center;
  }
  .box-two .right .top .fab {
    font-size: 5vw;
  }

  .box-two .right .bottom {
    margin-top: 2vw;
  }

  .box-two .right .description p {
    font-size: 1.5rem;
  }
  .box-two .right .bottom .col:hover {
    padding-top: 5px;
    height: 4vw;
  }
  .flickity-viewport{
    height:24vw!important;
  }
  .carousel-cell img{
    height:24vw!important;
  }
  // Thrid box - Skills
  .flipcard .front ul{
    width: 95%!important;
  }

  .flipcard  .back .value{
      padding-top: 0.5vw;
    }
  .flipcard .back .tittle{
    padding-bottom: -1.5vw;
  }

}

// END OF MEDIA jQuery


/* external css: flickity.css */
@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 300px;
  }
}
.flickity-slider{
  cursor: pointer;
}
/* General values */
.fab {
  font-size: 5vw;
}

.fab:hover {
  color: green;
}
.flickity-button {
    position: absolute;
    background: black!important;
    border: none;
    color: #E5BF26!important;
}
.flickity-page-dots .dot{
  background: #E5BF26!important;
}

// START OF CSS

/* General values */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}
.row{
margin-right: 0px!important;
}

.container-fluid{
  padding: 0!important;
}



.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}


// Nav bar
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: white!important;
}

.navbar .fa-wolf-pack-battalion:hover{
  color: white;
}
.navbar a{
  color: #E5BF26!important;
}
#navbar-example2{
  background: black!important;
}
#navbar-example2 .link2{
  margin-right: 1vw;
  border: 1px solid;
}
#navbar-example2 .link2:hover{
  background: #f8f9fa;
}
#navbar-example2 .fa-download{
  padding-left: 1vw;
}
#navbar-example2 .dropdown{
  display: none;
}
#navbar-example2 a:active{
  color: green;
}
#navbar-example2 .resume{
  display: none;
}
.acive{display: block!important;}


// Back to top button

.back-to-top {
    color: gold;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-sizing: border-box;
    border-radius: 0%;
}
.back-to-top .off{
  display: none;
}
.back-to-top i{
background: dimgray!important;
border-radius: 60%;

}
.back-to-top i:hover{
  background: white!important;
  color: gold;
}
a.back-to-top {
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
}

.back-to-top.show {
    opacity: 1;
  }



// First box
.box-one,
.box-one .col{
  padding-right: 0!important;
}
.box-one button {
  border-radius: 10%;
}

#fat{
  background: black;
  color: #E5BF26;
}
/* Second Box */
.second-tittle{
padding: 8vw 50% 2vw 50%;
}

.project-name{
  padding: 10vw 50% 0% 50%;
}
.box-two {
  margin: 0 !important;
  padding: 2vw 0;
}

.box-two:hover {
  -webkit-box-shadow: -3px -7px 112px -23px #d4d4d4;
  -moz-box-shadow: -3px -7px 112px -23px #d4d4d4;
  box-shadow: -3px -7px 112px -23px #d4d4d4;
  opacity: 0.95;
}
.box-two .right .top .row{
  width: 100%;
}
.box-two .right .bottom i{
color:#E5BF26;
}
.box-two .right .bottom p{
  color: gray;
}
.box-two .right .bottom div {
  text-align: center;
}

.box-two .right .bottom a {
  color: gray;
}
.box-two .right #size i:hover{
color: dimgray;
}
.box-two .right .bottom .col:hover {
  border-top: 1px solid lightgray !important;
}


// THIRD ROW - SKILLS



#skill .col-4{
  margin-bottom: 3vw;
}


// Start of flip Effect

.flipcard {
  position: relative;
  perspective: 500px;
}

/* Front */

.flipcard .front{
  padding: 3vw;
  text-align: center;
}

.flipcard .front .main-tittle{
  text-align: center;
  padding-bottom: 1vw;
}

.flipcard .front ul{
  list-style: none;
  width: 90%;
}
.flipcard .front ul li{
  width: 20%;
  padding: 2vw 0 0vw 2vw;
}

.flipcard .front .name{
  justify-content: center;
}

/* Back */
.flipcard .back ul{
  list-style: none;
  width: 100%;
  text-align: center;
}
.flipcard .back ul li{
  font-size: 1.2vw;
  width: 100%;
}

.flipcard .back .tittle{
  padding-top: 1vw;
  justify-content: center;
}

.flipcard .back .name .row,
.flipcard .back .value .row{
  justify-content: center;
}


.flipcard .back .container .col .row{
  height: 3vw;
}



.flipcard.v:hover .front, .flipcard.v.flip .front{
  transform: rotateX(180deg);
}
.flipcard.v:hover .back, .flipcard.v.flip .back{
  transform: rotateX(0deg);
}
.flipcard.v .back{
  transform: rotateX(-180deg);
}
.flipcard.h:hover .front, .flipcard.h.flip .front{
  transform: rotateY(180deg);
}
.flipcard.h:hover .back, .flipcard.h.flip .back{
  transform: rotateY(0deg);
}
.flipcard.h .back{
  transform: rotateY(-180deg);
}


.flipcard .front, .flipcard .back
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: black;
  backface-visibility: hidden;
  background: lightgray;
  border-radius: 10%
}

// End of flip effect


// Fourth Box - About

.about p{
  font-size: 2vw;
}
.about .row{
  margin-top: 5vw;
}

// Fifth Box - Contact
#contact{
  margin-top: 6vw;
}
#contact .tittle h1{
  text-align: center;
  margin-bottom: 6vw;
}
#contact .btn-success {
  background-color: dimgray!important;
  color: gold!important;
  border-radius: 8%;
}
#contact .btn-success:hover{
  background: white!important;
}
#PHP-contact img{
  width: 100%;
}
#PHP-contact .content{
  text-align: center;
  text-align: center;
  margin: -65vw 0 0 0;
  font-size: 3vw;
  font-weight: 400;
}

// Sixth box - Footer

#footer{
  text-align: center;
  padding-bottom: 5vw;
}
#footer .fab{
  margin: 0 1vw ;
  color: black;
}
#footer i:hover{
  color: gold;
}




// ADD 2vw to margin top of second row
